<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/_LAYOUT}">
    <body>

        <div layout:fragment="content">
            <link href="css/inicio-style.css" rel="stylesheet" type="text/css">
            <div class="loading-modal" id="modal_carga">
                <div>
                    <img src="img/loading.gif" alt="Loading">
                </div>
                <div>
                    Generando Siguiente Movimiento<br>Espere Por Favor...
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
                    </div>
                </div>
            </div>
            <div class="row contenedor"  id="contenedor_carga_archivo">
                <div class="col-xs-6">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Subir Archivo</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="numero">Archivo:</label>
                                <input type="file" class="form-control" id="file" name="file" />
                                <input type="button" style="margin-top: 15px;" class="form-control btn btn-primary" value="Subir" id="but_upload">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row contenedor hide" id="contenedor_actual_turno">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary float-left">Turno Actual</h6>
                            <a href="#" class="btn btn-success btn-icon-split float-right" style="    margin-left: 10px;" id="btn_descargar_excel">
                                <span class="icon text-white-50">
                                    <i class="fas fa-download"></i>
                                </span>
                                <span class="text">Descargar Excel</span>
                            </a>
                            <a href="#" class="btn btn-primary btn-icon-split float-right" id="btn_generar_movimiento">
                                <span class="icon text-white-50">
                                    <i class="fas fa-arrow-circle-right"></i>
                                </span>
                                <span class="text">Generar Otro Movimiento</span>
                            </a>
                        </div>
                        <div class="card-body">
                            <table id="tabla_empleados_actual">
                                <thead>
                                    <th class="th-medium">#</th>
                                    <th class="th-large">Nombre</th>
                                    <th class="th-medium">Lunes</th>
                                    <th class="th-medium">Martes</th>
                                    <th class="th-medium">Miércoles</th>
                                    <th class="th-medium">Jueves</th>
                                    <th class="th-medium">Viernes</th>
                                    <th class="th-medium">Sábado</th>
                                    <th class="th-medium">Domingo</th>
                                    <th class="th-large">Almuerzo</th>
                                    <th class="th-large">Receso</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row contenedor hide" id="contenedor_siguiente_turno">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Siguiente Turno</h6>
                        </div>
                        <div class="card-body">
                            <table id="tabla_empleados">
                                <thead>
                                    <th class="th-medium">#</th>
                                    <th class="th-large">Nombre</th>
                                    <th class="th-medium">Lunes</th>
                                    <th class="th-medium">Martes</th>
                                    <th class="th-medium">Miércoles</th>
                                    <th class="th-medium">Jueves</th>
                                    <th class="th-medium">Viernes</th>
                                    <th class="th-medium">Sábado</th>
                                    <th class="th-medium">Domingo</th>
                                    <th class="th-large">Almuerzo</th>
                                    <th class="th-large">Receso</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row contenedor hide" id="contenedor_totales">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Totales</h6>
                        </div>
                        <div class="card-body">
                            <table id="tabla_roles_totales">
                                <thead>
                                    <th class="th-medium">Rol</th>
                                    <th class="th-medium">Lunes</th>
                                    <th class="th-medium">Martes</th>
                                    <th class="th-medium">Miércoles</th>
                                    <th class="th-medium">Jueves</th>
                                    <th class="th-medium">Viernes</th>
                                    <th class="th-medium">Sábado</th>
                                    <th class="th-medium">Domingo</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{js/inicio-tools.js}"></script>
    </body>
</html>